*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-image: url(images/moriadark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top ;
    
}

p{
    color: white;
    text-align: center;
}

.divlotr{
    text-align: center;
    color: white;
}